## Factory Payload 载荷类模板
## 工厂创建实体时使用的参数封装类
package ${basePackage}.domain.aggregates${package}.factory

import ${basePackage}.domain.aggregates${package}.${Entity}
import com.only4.cap4k.ddd.core.domain.aggregate.AggregateFactory
import com.only4.cap4k.ddd.core.domain.aggregate.AggregatePayload
import com.only4.cap4k.ddd.core.domain.aggregate.annotation.Aggregate

@Aggregate(aggregate = "${Entity}", name = "${Entity}Payload", type = Aggregate.TYPE_FACTORY_PAYLOAD, description = "")
class Payload(

) : AggregatePayload<${Entity}>
